{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django 1 - Index</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <h1>Django 1 - Index</h1>

    <img src="{% static 'images/django-pony.webp' %}" alt="Django Framework">
    <h2>{{ curso }}</h2>
    <p>{{ outro }}</p>
    <span>{{ logado }}</span>

    <table>
        <thead>
            <tr>
                <td>Produto</td>
                <td>Preço</td>
            </tr>
        </thead>
        <thead>
            {% for produto in produtos %}
            <tr>
                <td><a href="{% url 'produto' produto.id %}">{{ produto.nome }}</a></td>
                <td>{{ produto.preco }}</td>
            </tr>
            {% endfor %}
        </thead>
    </table>
    <button onclick="teste()">Clique-me</button>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>