<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto</title>
</head>
<body>
    <h1>Produto</h1>
    <h2>{{ produto.nome }}</h2>
    <table>
        <thead>
            <tr>
                <td>Produto</td>
                <td>Preço</td>
                <td>Estoque</td>
            </tr>
        </thead>
        <thead>
            <tr>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.preco }}</td>
                <td>{{ produto.estoque }}</td>
            </tr>
        </thead>
    </table>
    <p><a href="{% url 'index' %}">Voltar</a></p>    
</body>
</html>